@import "nord.css";

.row {
margin-right: 0px
}

body , .table{
    background-color: var(--nord0);
    color: var(--nord4);
}

.bg-dark {
	background-color: var(--nord1) !important;
}

.btn-primary {
	color: var(--nord6);
	background-color: var(--nord10);
	border-color: var(--nord10);
}

.btn-success{
    color: var(--nord6);
    background-color: var(--nord14);
    border-color: var(--nord14);
}

.btn-warning {
	color: var(--nord0);
	background-color: var(--nord13);
	border-color: var(--nord13);
}

.form-control, #username, #password {
	background-color: var(--nord1) !important;
	color: var(--nord6) !important;
}

a {
    color: var(--nord10)
}

a:hover {
    color: var(--nord9)
}

.nav-pills .nav-link.active {
    background-color: var(--nord10)
}

.pr_bg_blue {
  background: var(--nord10);
}

.pr_border_solid {
  border-style: solid;
  border-color: var(--nord10);
}

.pr_text_blue {
  color: var(--nord10);
}

.pr_center {
  position: relative;
  transform: translate(50%, 25%);
}

.panel-body
{
    overflow-y: scroll;
    height: 500px;
}

.media-list .media {
  margin-top: 30px;
  border-bottom: 1px dotted #eee;
  padding-bottom: 10px;
}

.media-list .media {
  border: none;
}

.media .pull-left {
  margin-right: 15px;
}

.media .pull-right {
  margin-left: 15px;
}
